.archive-post {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f3f4f6;
  background-clip: border-box;
  border-radius: 0.25rem;
}

.archiv_posts_wrapper a {
  color: #000;
  text-decoration: none;
}

.archive-post p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.card-img-top {
  line-height: 0.7;
  overflow: hidden;
}

.card-img-top,
.card-img-top img {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img-top img {
  width: 100%;
  transition: 0.3s;
}

.archiv_posts_wrapper a:hover .card-img-top img {
  transform: scale(1.12);
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.archive-post h2 {
  border: 0 !important;
  font-size: 22px;
  margin: 10px 0;
}

.search-meta h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
}

.search-meta p {
  margin-bottom: 0;
}
