.lottery-item.card {
	overflow: hidden;
}

.lottery-item.card .card-body {
	padding-left: 0;
}

.wc-lottery-content {
	position: relative;
	z-index: 2;
}

.wc-lottery-content::after {
	content: "";
	height: 102%;
	width: 50%;
	border-left: 2px solid #07b32b;
	top: 0;
	left: -50px;
	z-index: -1;
	background: #242341;
	position: absolute;
	transform: skewX(15deg);
}

.lottery-item-link {
	text-decoration: none;
	color: #ffffff;
}

.lottery-item-link:hover {
	color: #07b32b;
}

.wc-author {
	color: #fff;
	font-size: 14px;
	margin-bottom: 10px;
}
span.wc-bg {
	background-color: #07b32b;
	padding: 2px 12px;
	color: #fff;
	display: inline-block;
	font-weight: 500;
}

.wc-lottery-meta span.wc-bg {
	border-radius: 5px;
	margin-right: 5px;
}

.wc-lottery-meta {
	display: flex;
	flex-direction: row;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.wc-lottery-meta {
	color: #fff;
}

.wc-lottery-thumbnail {
	position: relative;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.wc-lottery-thumbnail img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: 99;
}

.wc-lottery-thumbnail img.avatar {
	position: absolute;
	top: 10px;
	right: 5px;
	height: 60px;
	width: 60px;
}

.wc-progress-bar {
	height: 16px;
	width: 100%;
	border: 2px solid #07b32b;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}

.wc-progress-indicator {
	height: 100%;
	background: #07b32b;
	border-radius: 10px;
	margin-left: -2px;
}
.wc-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
}

.wc-col {
	flex-grow: 1;
}

.wc-col > * {
	width: 100%;
}

.wc-col > * {
	width: 100%;
}
.elementor *,
.elementor :after,
.elementor :before {
	box-sizing: border-box;
}

select {
	background-position-y: center;
}

.wc-countdown {
	display: flex;
	flex-direction: row;
	gap: 5px;
	width: 100%;
}

.wc-countdown > span span {
	font-size: 24px;
}

.wc-countdown > span {
	flex-grow: 1;
	text-transform: capitalize;
	min-width: 58px;
}

.wc-slod {
	width: 50%;
}

.wc-price {
	width: 100%;
}
.wc-progress-bar-66 {
	border-color: #ff0101;
}

.wc-progress-bar-66 .wc-progress-indicator {
	background-color: #ff0101;
}

.wc-progress-bar-33 {
	border-color: #ffc107;
}

.wc-progress-bar-33 .wc-progress-indicator {
	background-color: #ffc107;
}

@media (min-width: 576px) {
	.featured-post .post-meta {
		max-width: 45%;
		flex: 0 0 45%;
	}

	.featured-post .image-wrapper {
		max-width: 55%;
		flex: 0 0 55%;
	}
	.single_page .post_meta h1,
	.single-post .post-meta h1 {
		font-size: 3rem;
	}
	.primary-sidebar {
		position: sticky;
		top: 100px;
	}
}

@media (max-width: 991px) {
	.nav_menu_toggler {
		display: inline-block;
	}
	.mobile_nav_closer_btn_wrapper {
		display: block;
	}
	.navbar .nav_menu_wrapper {
		position: fixed;
		top: 0;
		right: -300px;
		height: 100%;
		width: 300px;
		padding: 0.5rem;
		background-color: #fff;
		border-left: 1px solid rgba(53, 78, 112, 0.1);
		z-index: 9;
		transition: right ease-in-out 0.3s;
		overflow-y: auto;
		overflow-x: hidden;
	}
	.navbar .nav_menu_wrapper ul.menu {
		display: block;
	}
}
