.wp-pagenavi {
  font-weight: 600;
  line-height: 20px;
  float: none;
  margin-right: -2px;
  text-align: center;
}
.wp-pagenavi a,
.wp-pagenavi span {
  text-decoration: none;
  transition: 0.3s;
  color: #aaa;
  font-size: 16px;
  padding: 7px 8px;
  display: inline-block;
  margin: 0 2px 10px;
}
.wp-pagenavi span.pages {
  font-size: 17px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em !important;
  border: none !important;
}
.wp-pagenavi span.pages:before {
  content: "";
  display: inline-block;
  height: 24px;
  width: 24px;
  background-image: url(../icons/file-text.svg);
  background-size: cover;
  margin-right: 5px;
}
.wp-pagenavi span.extend {
  border: none !important;
  border-bottom: 3px solid transparent;
  border-top: 1px solid transparent;
}
.wp-pagenavi a:hover,
.wp-pagenavi a:active,
.wp-pagenavi span.current {
  color: #333;
}

.wp-pagenavi a {
  color: #f67938;
  border: none;
  border-bottom: 3px solid #eee;
  border-top: 1px solid #eee;
}
.wp-pagenavi a:hover,
.wp-pagenavi a:active,
.wp-pagenavi span.current {
  background: none;
  border: none;
  border-bottom: 3px solid #f67938;
  border-top: 1px solid #eee;
}
