.wp-block-group {
  background-color: #f3f4f6;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 3rem;
}

.wp-block-group h2 {
  margin: 10px 0;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: #ddd 2px dashed;
  padding: 5px 0;
}

.wp-block-latest-posts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.wp-block-latest-posts__list li a {
  display: block;
  padding: 10px 0;
  color: #000;
  text-decoration: none;
}

.wp-block-latest-posts__list li a:hover {
  text-decoration: underline;
}
